<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chat</title>
    <link rel="shortcut icon" href="#">
  </head>
  <body>
  <nav>

  </nav>
  <div id="main-section">
    <nav id ="sidebar">

      <H4>List Of Teams</H4>
      {% for room in rooms %}
      <p class="select-room">{{ room|title }}</p>
      {% endfor %}

    </nav>
    <div id="rightside-pannel">
      <div id="display-message-section">

      </div>
      <div id="input-area">
        <input type="text" id="user_message" placeholder="Type here..." autocomplete="off">
        <button type="button" id="send_mesasge">Send</button>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    const username = `{{ username }}`;
  </script>
    <script src="{{ url_for('static', filename='scripts/chat_page.js') }}">  </script>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='scripts/socket_io.js') }}">  </script>
  </body>
</html>
