{% from 'helper.html' import display %}
{% extends 'prelogin.html' %}

{% block title %}Login{% endblock %}

{% block content %}
	
    <h2>Lets Chat !</h2>
    <p>Enter valid Username or password for login</p>
	<link rel="shortcut icon" href="#">
	
    <form action="{{ url_for('login') }}" method="POST">
	
		
		{{ display(form.user_name,"Username", autocomplete = "off", autofocus=true )}}
		{{ display(form.pass_word,"Password" )}}
	

		<div class="form-group">
			 <input type="submit" value="Login" class="btn btn-warning">
		</div>
	
		{{ form.csrf_token }}
	</form>

	
	<p>Have not registered? <a href={{ url_for('index') }}>Register here</a>.</p>

    {% endblock %}